@charset 'utf-8';
/*----------------------------------
	base
----------------------------------*/
html,body{
	height: 100%;
}

body{
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	color: #fff;
	background-color: #000;
}

#background{
	height: 100%;
}
