<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<div class="currentPosition">
		現在地：京都市西京区山田北山田町
	</div>

	<div class="data">
		<div class="data__precipitation"><span id='result'></span><br />mm/h</div>
		<ul class="data__forecastPrecipitation">
			<li>
				<span>30</span>mm/h<br />1hours later
			</li>
			<li>
				<span>10</span>mm/h<br />2hours later
			</li>
			<li>
				<span>0</span>mm/h<br />3hours later
			</li>
		</ul>
	</div>

	<div class="bg"><img id="background" src="" alt="" /></div>
</body>
</html>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/rainday.min.js"></script>
<script type="text/javascript">
!function($){
	$(function(){
		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(
				successCallback, errorCallback
			);
		} else {
			console.error('Geolocation APIに対応してません');
		}
	});

	var RAIN_CHECKER_PATH = '/rain_checker';

	function successCallback (position) {
		console.dir(position);

		var params = {
			lat : position.coords.latitude,
			lng : position.coords.longitude
		};

		var image = document.getElementById('background');
		$.getJSON(RAIN_CHECKER_PATH, params, function(data) {
			var result = data.Rainfall;
			$('#result').html(result);
			if(result === 0){

			}else if(result > 0){
				run(image, [ [1, 1, 2.88], [2, 2, 2.9], [3, 2, 3] ], 100);
			}
		});

		var now = nowTime();

		if( now > 6 && now < 18){
			img(image, '/img/day.jpg');
		}else{
			img(image, '/img/night.jpg');
		}
	}

	function errorCallback (error) {
		var message = '';

		switch (error.code) {
			case 1:
				message = '位置情報の利用が許可されていません';
				break;
			case 2:
				message = 'デバイスの位置が判定できません';
				break;
			case 3:
				message = 'タイムアウトしました';
				break;
		}

		console.error(message);
	}

	//降雨量をコントロール
	function run(image, rainDrop, rainFall) {
		image.onload = function() {
			var engine = new RainyDay({
				image: this
			});
			//engine.rain([ [1, 2, 8000] ]);
			engine.rain(rainDrop, rainFall);
		};
	}

	//画像のパスを管理
	function img(image, src){
		image.crossOrigin = 'anonymous';
		image.src = src;
	}

	//現在時刻を取得
	function nowTime(){
		var date = new Date();
		return date.getHours();
	}

}(jQuery);
</script>
